body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.panel{
  padding: 8px;
  margin: 4px;
  border: 1px solid #eee;
}
.panel .panel-icon{
  font-size: 12px;
}
.panel-title{
  margin: 5px 0;
}
.size-12{
  font-size: 12px;
}
.color-gray{
  color: #aaa;
}
.bgcolor-gray{
  background-color: #aaa;
}
.float-right, .fr{
  float: right;
}
.float-left, .fl{
  float: left;
}
.cf, .cf:after{
  clear: both;
}
.margin-top-10{
  margin-top: 10px;
}
main{
  padding: 20px;
}
a, a:hover {
  display: inline-block;
  
  text-decoration: none;
}

.breadcrumb{
  margin-bottom: 1em;
}
.tag{
  margin-right: 10px;
}
button a{
  color: #fff;
}

.input-new-tag{
  display: inline-block;
  min-width: 30px;
  max-width: 110px;
}